@tailwind base;
@tailwind components;
@tailwind utilities;

body html {
  width: 100%;
  margin: 0;
  padding: 0;
}

.hover:hover {
  background-color: white;
}

.navbar {
  background-color: white;
}

.navbutton {
  background-color: white;
  color: #0a68ff;
  font-size: 20px;
}

.navfont {
  color: #808089;
  font-size: 14px;
}

.footertext {
  color: #6b7280;
}
